# pigsavior gitignore

# unity ignore dir 
/[Bb]in/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/

# unity ignore file
*.csproj
*.userprefs
*.sln
*.unityproj
*.user
*.meta
*.tmp
*.svd

# Builds
*.apk
*.unitypackage

.DS_Store

# exclude files.
!.gitignore
!*.*.meta
